In [ ]:
'''
SQLAlchemy is a popular SQL toolkit and Object Relational Mapper. 

It is written in Python and gives full power and flexibility of SQL to an application developer. 

It is an open source and cross-platform software released under MIT license.

SQLAlchemy is famous for its object-relational mapper (ORM), using which
classes can be mapped to the database, thereby allowing the object model and database schema to develop in a 
cleanly decoupled way from the beginning.

As size and performance of SQL databases start to matter, they behave less like object collections. 
On the other hand, as abstraction in object collections starts to matter, they behave less like tables and rows. 
SQLAlchemy aims to accommodate both of these principles.
'''

In [ ]:
# pip install sqlalchemy

# if you have any problems also run
# pip install mysqlclient       

from sqlalchemy import create_engine

# disable useless prints
import logging
logging.basicConfig()
logging.getLogger('sqlalchemy').setLevel(logging.ERROR)

engine = create_engine("mysql://root:root@localhost/universita")

In [ ]:
# let's run a query
print("Output of SHOW TABLES")
for table_name in engine.execute("SHOW TABLES"):
    print(table_name)

print("\nOutput of SHOW TABLES, clearer this time")
for table_name in engine.execute("SHOW TABLES"):
    print(table_name[0])  # we don't really like tuples 

    
# let's make this a function...
def show_tables(engine):
    for table_name in engine.execute("SHOW TABLES"):
        print(table_name[0])

In [ ]:
conn = engine.connect()
#conn.execute("drop table students")
#conn.execute("drop table product")
#conn.execute("drop table user")

show_tables(engine)

In [ ]:
## Table, Column and MetaData
# MetaData is a container object that keeps together many different features of a database 
# (or multiple databases) being described.
from sqlalchemy import MetaData
meta = MetaData(engine)

# To represent a table, use the Table class. Its two primary arguments are the table name, 
# then the MetaData object which it will be associated with. The remaining positional arguments are 
# mostly Column objects describing each column:
from sqlalchemy import Column, Integer, String, Table
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String(length=100), nullable=False), 
   Column('lastname', String(length=100)), 
)
meta.create_all(engine)
show_tables(engine)

In [ ]:
# Drop the students table
students.drop(engine)
show_tables(engine)

In [ ]:
user = Table('user', meta,
    Column('user_id', Integer, primary_key=True),
    Column('user_name', String(16), nullable=False),
    Column('email_address', String(60)),
    Column('nickname', String(50), nullable=False)
)
meta.create_all()

In [ ]:
ins = user.insert().values(user_name='lorenzo', nickname='dh')
print(ins)

In [ ]:
conn = engine.connect() # connect to the database

In [ ]:
conn.execute(ins) # run the insert code

In [ ]:
# SELECT *
selection = user.select()
result = conn.execute(selection)
for row in result:
    print(row)

In [ ]:
# SELECT x, y
from sqlalchemy.sql import select
selection = select([user.c.user_id, user.c.user_name])
result = conn.execute(selection)
for row in result:
    print(row)

In [ ]:
conn.execute(user.insert(), [
    {'user_name': 'andrea', 'nickname': 'd22h'}, 
    {'user_name': 'mari', 'nickname': '234'}
])

In [ ]:
# SELECT ... WHERE
from sqlalchemy.sql import select
selection = select([user.c.user_id, user.c.user_name == "mari"])
result = conn.execute(selection)
for row in result:
    print(row)

In [ ]:
selection = user.select().where(user.c.user_name == "mari")
result = conn.execute(selection)
for row in result:
    print(row)

In [ ]:
from sqlalchemy import or_
selection = user.select().where(or_(user.c.user_name == "mari", user.c.user_id == 1))
result = conn.execute(selection)
for row in result:
    print(row)

In [ ]:
show_tables(engine)

In [ ]:
import sqlalchemy as db
from sqlalchemy import text


query = db.update(user).values(user_name = "provaprova").where(user.c.user_name == "lorenzo")
conn.execute(query)

In [ ]:
#conn.execute("drop table product")
conn.execute("drop table user")
#conn.execute("drop table child")
#conn.execute("drop table parent")
conn.execute("drop table students")
show_tables(engine)

In [ ]:
# Foreign keys

show_tables(engine)


from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()


Base = declarative_base()


class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    children = relationship("Child", back_populates="parent")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    parent_id = Column(Integer, ForeignKey('parent.id'))
    parent = relationship("Parent", back_populates="children")


Base.metadata.create_all(engine)


mother = Parent(name='gianna')
child = Child(name='nanna', parent=mother)

session.add_all([mother, child])
session.commit()

In [ ]:
show_tables(engine)

In [ ]:
selection = Child.__table__.select()
result = conn.execute(selection)
for row in result:
    print(row)

In [ ]:
"""
References:
https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_introduction.htm
https://docs.sqlalchemy.org/en/
https://leportella.com/sqlalchemy-tutorial.html
"""